<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ApplyDao" >
<insert id="insertApply" parameterType="MeetingBoardApply">
insert into meetingBoardApply values(#{boardname}, #{meeting_boardno}, #{meetingBoardApply_userId},  
#{meetingBoardApply_email}, #{meetingBoardApply_count}, #{meetingBoardApply_nickname});
</insert>
<delete id="deleteApply" parameterType="java.util.HashMap">
delete from meetingBoardApply where meeting_boardno=#{meeting_boardno} and meetingBoardApply_userId=#{meetingBoardApply_userId};
</delete>
<delete id="deleteApply2" parameterType="int">
delete from meetingBoardApply where meeting_boardno=#{meeting_boardno};
</delete>
<select id="selectOneApply" parameterType="String" resultType="MeetingBoardApply">
select*from meetingBoardApply where meetingBoardApply_userId=#{meetingBoardApply_userId};
</select>
<select id="selectAllApply" parameterType="int" resultType="MeetingBoardApply">
select*from meetingBoardApply where meeting_boardno = #{meeting_boardno};
</select>
<select id="selectAllApply2" resultType="MeetingBoardApply">
select*from meetingBoardApply order by meetingBoardApply_count desc;
</select>
<select id="selectcount" parameterType="int" resultType="MeetingBoardApply">
select*from meetingBoardApply where meeting_boardno = #{meeting_boardno} order by meetingBoardApply_count desc limit 1; 
</select>
</mapper>