<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.FreeBoardDao">

	<insert id="insertBoard" parameterType="java.util.HashMap"
      useGeneratedKeys="true" keyProperty="freeBoard_boardno">
      insert into freeBoard values (#{freeBoard_boardname},0,
      #{freeBoard_userId},#{freeBoard_nickname},
      <include refid="freeBoard_title" />
      , #{freeBoard_file},
      <include refid="freeBoard_content" />
      ,
      curdate(),
      <include refid="freeBoard_YoutubeUrl" />
      ,0, #{freeBoard_contentPic},0
      )
   </insert>

	
	   <update id="updateBoard" parameterType="java.util.HashMap">
      update freeBoard set
      freeBoard_title=#{freeBoard_title},
      freeBoard_content=#{freeBoard_content},freeBoard_readCount=#{freeBoard_readCount}
      where freeBoard_boardname=#{freeBoard_boardname}
      and freeBoard_boardno=#{freeBoard_boardno}

   </update>

	<delete id="deleteBoard" parameterType="int">

		delete from FreeBoard where freeBoard_boardname = #{freeBoard_boardname}
		and freeBoard_boardno =#{freeBoard_boardno}

	</delete>
	
	<select id="selectOneBoard" parameterType="java.util.HashMap" resultType="freeBoard">
		select * from FreeBoard where freeBoard_boardname =
		#{freeBoard_boardname}
		and freeBoard_boardno =#{freeBoard_boardno}

	</select>

	<!-- 파라미터타입 string 맞나? -->
	<select id="selectBoardbyId" parameterType="String" resultType="List">

		select * from freeBoard where freeBoard_boardname =
		#{freeBoard_boardname}
		and freeBoard_userId = #{freeBoard_userId}

	</select>

	<select id="selectBoardAll" parameterType="java.util.HashMap"
      resultType="freeBoard">
   select * from freeBoard where 1 = 0
      <if test="title != null">
         or freeBoard_title like '%${keyword}%'
      </if>
      <if test="content != null">
         or freeBoard_content like '%${keyword}%'
      </if>
      <if test="nickname != null">
         or freeBoard_nickname like '%${keyword}%'
      </if>
      <if test="type == 0">
         or 1=1
      </if>
   
      and freeBoard_boardname = #{freeBoard_boardname}
      order by freeBoard_boardno desc limit #{skip},#{qty}; 
   </select>


	<select id="getCount" parameterType="java.util.HashMap"
		resultType="int">
		select count(*) from freeboard
		where 1 = 0 or 
		freeBoard_boardname = #{freeBoard_boardname}
		<if test="freeBoard_title != null">
			or freeBoard_title like '%${freeBoard_title}%'
		</if>
		<if test="freeBoard_content != null">
			or freeBoard_content like '%${freeBoard_content}%'
		</if>
		<if test="freeBoard_name != null">
			or freeBoard_name like '%${freeBoard_name}%'
		</if>
		<if test="freeBoard_type == 0">
			or 1=1
		</if>
		<if test="freeBoard_startdate != null">
			and freeBoard_writedate
			between #{startdate} and #{enddate}
		</if>
	</select>
	<sql id="freeBoard_title">
		<choose>
			<when test="freeBoard_title == null or freeBoard_title != '' ">
				#{freeBoard_title}
			</when>
			<otherwise>
				'제목없음'
			</otherwise>
		</choose>
	</sql>

<select id="getLastBoardno" resultType="int" parameterType="java.util.HashMap">
		select MAX(freeboard_boardno) from freeBoard where freeBoard_boardname
		= #{freeBoard_boardname} and freeBoard_userId=
		#{freeBoard_userId}
		<!-- 지금은 위에 커리로 해놓지만, 유저와 합치면 아래 코드로 바꿔야함 ㅇㅇ select MAX(tipboard_boardno) -->
	</select>

<select id="selectBoardLike" parameterType="java.util.HashMap"
		resultType="freeBoard">
	select * from freeBoard where 1 = 0
		<if test="title != null">
			or freeBoard_title like '%${keyword}%'
		</if>
		<if test="content != null">
			or freeBoard_content like '%${keyword}%'
		</if>
		<if test="nickname != null">
			or freeBoard_nickname like '%${keyword}%'
		</if>
		<if test="type == 0">
			or 1=1
		</if>
		and freeBoard_boardname = #{freeBoard_boardname}
		order by freeBoard_LikeCount desc limit #{qty};
	</select>
	
	<select id="countbyLike" resultType="int" parameterType="java.util.HashMap">
		SELECT COUNT(freeLikes_likeno) as cnt
		FROM freeLikes
		WHERE freeLikes_boardname = #{freeLikes_boardname} and freeLikes_boardno
		=#{freeLikes_boardno} and freeLikes_userId=#{freeLikes_userId}
	</select>
<insert id="creatFreeLikes" parameterType="java.util.HashMap">
		INSERT INTO freeLikes
		VALUES ((SELECT ifnull(MAX(freeLikes_likeno), 0) FROM freeLikes t) +1, #{freeLikes_boardname}, #{freeLikes_boardno}, 
		#{freeLikes_userId}, 0, curdate())
	</insert>

<update id="like_check" parameterType="HashMap">
		UPDATE freeLikes
		SET freeLikes_likeCheck = freeLikes_likeCheck + 1
		WHERE freeLikes_boardname = #{freeLikes_boardname} and freeLikes_boardno
		= #{freeLikes_boardno} and freeLikes_userId= #{freeLikes_userId}
	</update>

<update id="like_check_cancel" parameterType="HashMap">
		UPDATE freeLikes
		SET freeLikes_likeCheck = 0
		WHERE freeLikes_boardname = #{freeLikes_boardname} and freeLikes_boardno
		= #{freeLikes_boardno} and freeLikes_userId= #{freeLikes_userId}
	</update>

<select id="readFreeLikes" resultType="freeLikes" parameterType="HashMap">
		SELECT * FROM freeLikes
		WHERE freeLikes_boardname = #{freeLikes_boardname} and freeLikes_boardno
		= #{freeLikes_boardno} and freeLikes_userId= #{freeLikes_userId}
	</select>
	
	<delete id="deletebyBoardNameBoardno" parameterType="HashMap">
		DELETE FROM freeLikes
		WHERE freeLikes_boardname = #{freeLikes_boardname} and freeLikes_boardno
		= #{freeLikes_boardno}
	</delete>

<delete id="deletebyUserId" parameterType="HashMap">
		DELETE FROM freeLikes
		WHERE freeLikes_userId= #{freeLikes_userId}
	</delete>

<update id="FreeBoard_likeCnt_up" parameterType="java.util.HashMap">
		update freeBoard set 
		freeBoard_LikeCount = freeBoard_LikeCount +1 
		where freeBoard_boardname = #{freeBoard_boardname} and freeBoard_boardno = #{freeBoard_boardno}
	</update>

	<update id="FreeBoard_likeCnt_down" parameterType="java.util.HashMap">
		update freeBoard set 
		freeBoard_LikeCount = freeBoard_LikeCount -1
		where freeBoard_boardname = #{freeBoard_boardname} and freeBoard_boardno = #{freeBoard_boardno}
	</update>
	
	<select id="getCommentCount"  resultType="int">
select count(*) from freecomments where freeBoard_boardname=#{freeBoard_boardname} and freeBoard_boardno=#{freeBoard_boardno}
</select>

<select id="selectCommentAll" parameterType="java.util.HashMap"
resultType="freeComment">
select * from freecomments where freeBoard_boardname=#{freeBoard_boardname} and freeBoard_boardno=#{freeBoard_boardno}
order by freeComments_parent ASC, freeComments_commentno ASC limit #{comment_skip}, #{comment_numb}
</select>


<insert id="insertComment" parameterType="freeComment" useGeneratedKeys="true"  keyProperty="freeBoard_boardno">
insert into freecomments values (#{freeBoard_boardname}, #{freeBoard_boardno},0, #{freeComments_nickname}, 
#{freeComments_userId}, #{freeComments_parent}, #{freeComments_content},#{freeComments_writeDate})
</insert>
<update id="updateCommentParent" parameterType="freeComment">
update freecomments set freeComments_parent=#{freeComments_parent}
 where freeComments_commentno=#{freeComments_commentno}
 </update>
<select id="groupCount" parameterType="int" resultType="int">
select count(*) from freecomments where freeComments_parent = #{freeComments_commentno}
</select>
<update id="updateComments" parameterType="java.util.HashMap">
update freecomments set freeComments_content=#{freeComments_content} where freeComments_commentno = #{freeComments_commentno}
</update>
<delete id="deleteComments" parameterType="int">
delete from freecomments where freeComments_commentno = #{freeComments_commentno}
</delete>
<select id="selectOneComments" parameterType="int" resultType="freeComment">
select * from freecomments where freeComments_commentno = #{freeComments_commentno}
</select>
	
	
	
<!-- //============================ -->
	   <sql id="freeBoard_content">
      <choose>
         <when test="freeBoard_content == null or freeBoard_content != ''">
            #{freeBoard_content}
         </when>
         <otherwise>
            '내용없음'
         </otherwise>
      </choose>
   </sql>
   <sql id="freeBoard_YoutubeUrl">
      <choose>
         <when test="freeBoard_YoutubeUrl != null">
            #{freeBoard_YoutubeUrl}
         </when>
         <otherwise>
            '동영상없음'
         </otherwise>
      </choose>
   </sql>











</mapper>