<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.PlaceReviewDao">

<select id="selectReviewAll" parameterType="java.util.HashMap" resultType="place">
select * from place where place_name=#{place_name}
and place_x=#{place_x} and place_y=#{place_y}
</select>
<insert id="insertPlaceReview" parameterType="place" useGeneratedKeys="true" keyProperty="place_no">
insert into place values (0, #{place_name}, #{place_x}, #{place_y}, #{place_userid}, #{place_usernickname}, #{place_review}, #{place_date})
</insert>
<delete id="deletePlaceReview" parameterType="int">
delete from place where place_no = #{place_no}
</delete>
<update id="updatePlaceReview" parameterType="place">
update place set place_review=#{place_review} where place_no=#{place_no}
 </update>
 <select id="selectReviewOne" parameterType="int" resultType="place">
select * from place where place_no = #{place_no}
</select>
</mapper>